.article-tab-comment{
  width: 100%;
  display: inline-block;
  ul{
    width: 100%;
    border-bottom:1px solid #ddd;
    font-size: 14px;
    display: inline-block;
      li{
        margin-right: 2px;
        padding: 10px 15px;
        float: left;
        border-radius: 3px 3px 0 0;
        cursor: pointer;
        color: #555;
        &--comment{
          margin-right: 2px;
          padding: 10px 15px;
          float: left;
          border: 1px solid #ddd;
          border-bottom-color: white;
          border-radius: 3px 3px 0 0;
          cursor: pointer;
          color: #555;
          margin-bottom: -1px;
        }
        &:hover{
          background-color: #eee;
        }
      }
  }
}
.articles{
  .article_area {
    padding: 15px 0;
    border-bottom: 1px solid #eee;
    padding: calc(1em*2/3);
    .my_picture{
      float: left;
      margin-right: 10px;
      cursor: pointer;
    }
    .article{
      &__data{
        color: #999;
        font-size: 10px;
        margin-bottom: 2px;
      }
      &__title{
        display: inline-block;
        margin: 0 5px 0 0;
        line-height: 1.4;
        font-size: 13px;
        font-weight: 400;
        cursor: pointer;
      }
      &__tags{
        li{
          display: inline-flex;
          background-color: #e0e0e0;
          padding: .2em .6em;
          margin: 0 5px;
          font-size: 10px;
          flex-wrap: wrap;
          line-height: 1;
          cursor: pointer;
          border-radius: .2em;
          position: relative;
          &:before {
            position: absolute;
            content: '';
            left: -15px;
            top: -.1em;
            border-top: 8.39px solid transparent;
            border-right: 8.39px solid #e0e0e0;
            border-bottom: 8.39px solid transparent;
            border-left: 8.39px solid transparent;
      }
        }
      }
      &__sentence{
        color: #999;
        line-height: 1.4;
        margin-top: 3px;
        font-size: 14px;
      }
    }
  }
}
